absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1751547525079/work
anndata @ file:///home/conda/feedstock_root/build_artifacts/anndata_1762459310756/work
annotated-types==0.7.0
array-api-compat @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_array-api-compat_1747403732/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1764016952863/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1762976168352/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560556141/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
click==8.3.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1762525274641/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1761813734081/work
docrep @ file:///home/conda/feedstock_root/build_artifacts/docrep_1613487293529/work
donfig @ file:///home/conda/feedstock_root/build_artifacts/donfig_1734368700593/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1759948064277/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1764352760362/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1761840104528/work
gitdb==4.0.12
GitPython==3.1.45
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1762946762401/work
google-crc32c @ file:///home/conda/feedstock_root/build_artifacts/google-crc32c_1755850228891/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1740902124853/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1764016465151/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1756321760188/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1762488778/work
legacy-api-wrap @ file:///home/conda/feedstock_root/build_artifacts/legacy-api-wrap_1762187530570/work
lightning @ file:///home/conda/feedstock_root/build_artifacts/lightning_1762382029606/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1754515506335/work
llvmlite==0.45.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_markdown_1762856570/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1759055168201/work
matplotlib==3.10.8
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
ml_collections @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ml-collections_1731417481/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1762504002517/work
mudata @ file:///home/conda/feedstock_root/build_artifacts/mudata_1759413722467/work
munkres==1.1.4
natsort @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_natsort_1733880463/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1763962034/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1759165087897/work
numcodecs @ file:///home/conda/feedstock_root/build_artifacts/numcodecs_1759813993838/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1763351050/work/dist/numpy-2.3.5-cp313-cp313-linux_x86_64.whl#sha256=96a2868a03185bd167b0ca3a0b1f2900bde322ca79411725ec4ce9a453a88363
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
optree @ file:///home/conda/feedstock_root/build_artifacts/optree_1763124277233/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1764614456481/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1758208668/work
platformdirs==4.5.0
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1731365432676/work/bazel-bin/python/dist/protobuf-5.28.3-cp313-abi3-linux_x86_64.whl#sha256=00ff2fe36aece116fda79213f134e1f3a58fbf7a12ef239d9b616c2568bc3fb8
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1755953338/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.12.5
pydantic_core==2.41.5
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1734193530377/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1758436411/work
pyro-api @ file:///home/conda/feedstock_root/build_artifacts/pyro-api_1614940619870/work
pyro-ppl @ file:///home/conda/feedstock_root/build_artifacts/pyro-ppl_1734535654352/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1757101900503/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1758891829620/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1760026188/work/dist
scanpy @ file:///home/conda/feedstock_root/build_artifacts/scanpy_1761040974135/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1757406014136/work/dist/scikit_learn-1.7.2-cp313-cp313-linux_x86_64.whl#sha256=57a01e14089134138162e1d97e88306d884f79ffcdb68a7ec41d3c3eb56ae97a
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1763219255425/work/dist/scipy-1.16.3-cp313-cp313-linux_x86_64.whl#sha256=80a9ddf4de088ebe37dc3a8be150b2b51a18ae3fbe4d3bb656541e8d69027701
scvi-tools @ file:///home/conda/feedstock_root/build_artifacts/scvi-tools_1760965364859/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
sentry-sdk==2.46.0
session-info2 @ file:///home/conda/feedstock_root/build_artifacts/session-info2_1760023542443/work
setuptools==80.9.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
sparse @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_sparse_1747799051/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1759296941273/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tensorboard_1752825441/work/tensorboard-2.20.0-py3-none-any.whl#sha256=9dc9f978cb84c0723acf9a345d96c184f0293d18f166bb8d59ee098e6cfaaba6
tensorboard_data_server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1759413123985/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=92195e6d79c644bb7aa94b7f72e87cef7505d0b3dc59ed4fd52834051859cbc7
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1739474892959/work
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1756932631856/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
umap-learn @ file:///home/conda/feedstock_root/build_artifacts/umap-learn_1751544282117/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
wandb==0.23.0
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_werkzeug_1764423417/work
wheel==0.45.1
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1756851645622/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_xarray_1763464377/work
zarr @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zarr_1763742695/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1764460141/work
zstandard==0.25.0
